/* This applies to everything is CSS and resets the margin and padding to 0, Border-box makes it so if you set a size for a element it will be exactly what you specified, pseudo elements also included*/

/* END Main Page information*/ /* Main Page information*/
/* Main Page information*/ /* Main Page information*/
/* Main Page information*/ /* Main Page information*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-image: url(/Img/Woodenbackground.jpg);
  background-repeat: repeat repeat;
}

/*Site colour theme */
:root {
  --Green: #009b4d;
  --Yellow: #ffcc00;
  --Ivory: #faf5e9;
  --Indigo: #4b0082;
}

/* END Main Page information*/
/* END Main Page information*/
/* END Main Page information*/

/* /////////////////////////////////////////////////////////////////// */

/* Main Body */ /* Main Body */
/* Main Body */ /* Main Body */
/* Main Body */ /* Main Body */

body {
  display: flex;
  justify-content: center;
  color: var(--Ivory);
  margin: auto;
}

#wrapper {
  max-width: 1080px;
  position: absolute;
  top: 40px;
}

/* /////////////////////////////////////////////////////////////////// */

/* Navbar */ /* Navbar */
/* Navbar */ /* Navbar */
/* Navbar */ /* Navbar */

.handCraftLogo {
  position: absolute;
  height: auto;
  width: 40px;
  top: 2px;
  left: 10px;
  border-radius: 60px;
}

/*Search bar function*/
input[type="text"] {
  width: 160px;
  height: 30px;
  padding: 1px 0 0 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  transition: width 0.4s ease-in-out;
  justify-content: flex-start;
  color: var(--Indigo);
}

/* Position search */
input[type="text"] {
  position: absolute;
  top: 6px;
  right: 50px;
}

/*Search bar width*/
input[type="text"]:focus {
  width: 20%;
}

header.banner {
  height: auto;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/Img/Handcraftedimg.jpg);
}

ul.menuLinks {
  display: flex;
  justify-content: center;
  font-size: 0.6em;
  padding: 10px;
  max-height: 50px;
  width: 100vw;
}
/* Anchor stlying */ /* Anchor stlying */
a {
  color: #000;
}

a:visited {
  background-color: var(--Indigo);
}

a:hover {
  background-color: var(--Yellow);
  border-radius: 50px;
  width: 100%;
}

.link {
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  margin: 0 50px 0 50px;
}
/* END anchor stlying */ /* END anchor stlying */

/*Primary navigational menu for website*/
.menu {
  top: 0;
  background-color: var(--Ivory);
  text-align: center;
  font-size: 35px;
}
/*Primary navigational menu list items*/
.menu li {
  list-style-type: none;
  display: inline;
}

/* End Navbar */ /* End Navbar */
/* End Navbar */ /* End Navbar */
/* End Navbar */ /* End Navbar */

/* /////////////////////////////////////////////////////////////////// */

/* Banner */ /* Banner */
/* Banner */ /* Banner */
/* Banner */ /* Banner */

.homeWelcome {
  font-size: 5rem;
  padding: 25px;
  text-align: center;
  color: var(--Yellow);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.cartIMG {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: auto;
}

.havenSlogan {
  font-size: 30px;
  text-align: center;
  width: 500px;
  margin: auto;
  padding: 15px;
  color: var(--Yellow);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* END Banner */ /* END Banner */
/* END Banner */ /* END Banner */
/* END Banner */ /* END Banner */

/* /////////////////////////////////////////////////////////////////// */

/* Main section */ /* Main section */
/* Main section */ /* Main section */
/* Main section */ /* Main section */

.hero {
  text-align: center;
  font-size: 65px;
  color: var(--Yellow);
  font-weight: 800;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 20px;
}
.pickProduct {
  list-style-type: none;
}

/*Assortment of items img used in shop*/
#img-assortment {
  border-radius: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

/*Shop Image Gallery Code*/
.gallery {
  margin: 5px;
  border: 1px;
  border-radius: 10%;
  float: left;
  width: 24%;
}

.gallery:hover {
  border: 1px solid #009b4d;
}

.gallery img {
  border-radius: 25%;
  width: 100%;
  height: 250px;
}

.galleryDesc {
  padding: 15px;
  text-align: center;
}
/*END Gallery*/

/* END Main BODY */ /* END Main BODY */
/* END Main BODY */ /* END Main BODY */
/* END Main BODY */ /* END Main BODY */
