/* This applies to everything is CSS and resets the margin and padding to 0, Border-box makes it so if you set a size for a element it will be exactly what you specified, pseudo elements also included*/

/* END Main Page information*/ /* Main Page information*/
/* Main Page information*/ /* Main Page information*/
/* Main Page information*/ /* Main Page information*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-image: url(/Img/Woodenbackground.jpg);
  background-repeat: repeat repeat;
}

/*Site colour theme */
:root {
  --Green: #009b4d;
  --Yellow: #ffcc00;
  --Ivory: #faf5e9;
  --Indigo: #4b0082;
  --gradient-indigo-green: linear-gradient(45deg, #009b4d, #4b0082);
  --white-yellow: linear-gradient(180deg, #ffcc00, #faf5e9 90%);
  --yellow-white: linear-gradient(3600deg, #ffcc00, #faf5e9 75%);
  --border-bottom: 5px var(--Indigo) solid;
}

/* END Main Page information*/
/* END Main Page information*/
/* END Main Page information*/

/* /////////////////////////////////////////////////////////////////// */

/* Main Body */ /* Main Body */
/* Main Body */ /* Main Body */
/* Main Body */ /* Main Body */

/* Navbar */ /* Navbar */
/* Navbar */ /* Navbar */
/* Navbar */ /* Navbar */

/*Primary navigational menu for website*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--Indigo);
  background-color: var(--Ivory);
  max-height: 50px;
  width: 100%;
}

/* Navbar that contains the logo, left side */
.navbar-left .logo {
  height: 40px;
  border-radius: 60px;
  margin: 3px 0 0 10px;
}

/* Navbar that contains hyperlinks to other pages */
.navbar-center {
  text-align: center;
  width: 50%;
  margin-left: 8em;
  font-size: 1.2em;
}
/* Links within the primary navbar */
.navbar-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Links within the primary navbar that are a list */
.navbar.links li {
  display: inline;
  margin: 0 15px;
}
/* anchor tags within the primary navbar */
.navbar-links a {
  color: #000;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
}
/* anchor hover links */
.navbar-links a:hover {
  background-color: var(--Yellow);
  text-decoration: underline;
}
/* navbar right containing search, sign in, reg */
.navbar-right {
  display: flex;
  align-items: center;
}

/*Primary navigational menu list items*/
.navbar li {
  list-style-type: none;
}

.search {
  padding: 5px 5px 5px 40px;
  font-size: 16px;
  background-color: rgba(215, 235, 193, 0.897);
  border-radius: 30px;
  border-width: 2px;
  border-style: none;
}

.search-icon {
  width: 25px;
  position: absolute;
  margin-left: 5px;
}

.icon-cart {
  height: auto;
  width: 30px;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

/* Controls the buttons on the nav bar */
.btn {
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 7.2px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: var(--Yellow);
  border-radius: 10px;
  color: white;
}

/* End Navbar */ /* End Navbar */
/* End Navbar */ /* End Navbar */
/* End Navbar */ /* End Navbar */

/* /////////////////////////////////////////////////////////////////// */

/* Banner */ /* Banner */
/* Banner */ /* Banner */
/* Banner */ /* Banner */
header.banner {
  height: 350px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/Img/Handcraftedimg.jpg);
  display: flex;
  flex-direction: column;
}

.homeWelcome {
  font-size: 5.4rem;
  padding: 20px;
  text-align: center;
  color: var(--Yellow);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.havenSlogan {
  font-size: 35px;
  text-align: center;
  width: 500px;
  margin: auto;
  padding: 15px;
  color: var(--Yellow);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* END Banner */ /* END Banner */
/* END Banner */ /* END Banner */
/* END Banner */ /* END Banner */

/* /////////////////////////////////////////////////////////////////// */

/* Main section */ /* Main section */
/* Main section */ /* Main section */
/* Main section */ /* Main section */

.navbar-product {
  background-image: var(--white-yellow);
  border-bottom: var(--border-bottom);
}

.pickProduct a {
  text-decoration: none;
  padding: 8px;
  font-size: 22px;
}

.pickProduct a:hover {
  background-color: var(--Yellow);
  border-radius: 10px;
  color: #000;
}

.pickProduct a:link {
  color: #000;
}

.pickProduct a:visited {
  color: var(--Indigo);
}

.hero {
  background-image: var(--yellow-white);
  text-align: center;
  font-size: 65px;
  color: var(--Yellow);
  font-weight: 800;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 20px;
  border-top: 5px var(--Indigo) solid;
}

.pickProduct {
  list-style-type: none;
  display: inline-flex;
}
.pickProduct li {
  padding: 10px;
}
/* end of nav bar CSS */
/* end of nav bar CSS */
/* end of nav bar CSS */

/* content within the wrapper element */
#wrapper {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

article {
  border-bottom: var(--border-bottom);
  padding: 20px;
}

.main-article {
  background-image: var(--yellow-white);
}

h3 {
  font-size: 2em;
  padding: 5px;
}

dt {
  font-size: 2em;
  padding: 10px;
}

hr {
  border: 2px solid var(--Indigo);
  margin: 15px;
  width: auto;
}

p {
  padding: 10px;
}

.img-description {
  display: flex;
}

.img-description dd {
  padding: 10px;
  font-size: 20px;
}

.featured-img {
  filter: drop-shadow(10px 10px 20px var(--Indigo));
  border-radius: 30px;
  width: 300px;
}

.coming-soon {
  margin-bottom: 100px;
}

/*Assortment of items img used in shop*/
#img-assortment {
  border-radius: -30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  opacity: 50%;
}

/*Shop Image Gallery Code*/
.gallery {
  margin: 5px;
  border: 1px;
  border-radius: 10%;
  float: left;
  width: 24%;
}

.gallery:hover {
  border: 1px solid #009b4d;
}

.gallery img {
  border-radius: 25%;
  width: 100%;
  height: 250px;
}

.galleryDesc {
  padding: 15px;
  text-align: center;
}

/* Shop Price Table Code */
/* Price Table Columns & Alignment */
.priceTableColumns {
  float: left;
  width: 33.3%;
  padding: 8px;
}
/* Price Table Unordered List & Items */
.priceTableUL {
  list-style-type: none;
  border: 1px solid #e8e8e4;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3;
}
/* Hover Effect on Price Table */
.priceTableUL:hover {
  box-shadow: 0 8px 12px 10px rgba(0, 0, 0, 0.5);
}
/* Background Price Table Header - Basic, Pro, Premium */
.priceTableUL .priceTableHeader {
  background-image: var(--gradient-indigo-green);
  color: var(--Ivory);
  font-size: 25px;
}
/* List Items and their Benefits  */
.priceTableUL li {
  border-bottom: 1px solid var(--Indigo);
  padding: 20px;
  text-align: center;
  background-color: var(--Ivory);
}
/* Price of each column section */
.priceTableUL .priceOfColumn {
  background-image: var(--white-yellow);
  font-size: 20px;
}

.priceOfColumn2 {
  background-image: var(--yellow-white);
}
/* Price Table Button properties */
.priceTableButton {
  background-color: var(--Green);
  border: none;
  color: var(--Yellow);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10%;
}

/*END Gallery*/

/* END Main BODY */ /* END Main BODY */
/* END Main BODY */ /* END Main BODY */
/* END Main BODY */ /* END Main BODY */

/*Contact Us Page*/
input[type="contactText"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="contactSubmit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="contactSubmit"]:hover {
  background-color: #45a049;
}

#contactForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Media queries */ /* Media queries */
/* Media queries */ /* Media queries */
/* Media queries */ /* Media queries */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
}

/* iPhone 4 - 5s ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone 6 ----------- */
@media only screen and (max-device-width: 667px) only screen and (-webkit-device-pixel-ratio: 2) {
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) only screen and (-webkit-device-pixel-ratio: 3) {
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 3),
  and (min-resolution: 192dpi) and (max-width: 640px) {
}
